<%- include('./partials/auth-menu') %>

<div id="dashboard" class="container-fluid ml-auto">
  <h1 class="dash mt-4">Dashboard</h1>
  <h1 class='sub-head mt-4 p-2'><i class='fas fa-user'></i> Welcome <strong><%= user.name %></strong></h1>
<% if(!user.submitted){ %>
<h3 class="alert alert-warning"><i class='fas fa-exclamation-triangle'></i> Topics to be revealed one day prior to competition. </h3>
<h3 class="alert alert-warning"><i class='fas fa-exclamation-triangle'></i> Submissions will be opened on 28-09-2020. </h3>
<form action = "/submit" method="POST" enctype="multipart/form-data">
  <!-- <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Union Chosen</label>
    <input class="form-control form-control-lg" type="text" placeholder="Enter your Union" name = "atitle" value = "<%= typeof atitle != 'undefined' ? atitle : '' %>" id="inputLarge" required>
  </div> -->
  
  <div class="form-group">
    <label for="exampleTextarea"></label>
    <textarea class="form-control" id="exampleTextarea" rows="10"  placeholder="Describe your submission here" name = "acontent" value = "<%= typeof acontent != 'undefined' ? acontent : '' %>" required></textarea>
  </div>
  <br />
  <div class="form-group">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><div class="alert alert-warning"><i class='fas fa-exclamation-triangle'></i> Only PDF files supported.</div></h4>
        <h5 class='sub-head'>In case of any technical problems, contact us at <span class='emphasis'>tech@thepcvit.com</span>.</h5>
        <p class="card-text"><label class="col-form-label col-form-label-lg" for="inputLarge">Upload Your File</label></p>
        <input class="form-control form-control-lg" type="file" name="draft" id='draft' required disabled>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" disabled> Submit</button>
  </form>
<% }%>

<% if(user.submitted){%>
  <div class="alert alert-danger">
    <h3><i class="fas fa-exclamation-triangle"></i> Delete existing speech to submit another.</h3>
  </div>
  <form action='/delete' method='POST'>
    <button type="submit" class="btn btn-danger">Delete Existing Speech </button>
  </form>
  
<%}%>

<br />

<h5 class='sub-head bg-light p-3'>In case of any technical problems, contact us at <span class='emphasis'>tech@thepcvit.com</span>.</h5>

<!-- <div class="alert alert-warning">
  <h2><i class='fas fa-exclamation-triangle'></i> Submissions open on 21st June.</h2>
</div> -->
</div>

