<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
      
      <a class="navbar-brand js-scroll-trigger" target='_blank' href="https://www.thepcvit.com">THEPC</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/users/logout">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div id="dashboard" class="container-fluid ml-auto">
    <h1 class="mt-4">Dashboard</h1>
    <div class="alert alert-danger"><i class='fas-fa-exclamation-triangle'></i> <p>Your most recent submission was successfully deleted.</p></div>    

    <a href="/dashboard" class="btn btn-primary" style="float: left;">Go Back</a>
    &nbsp;&nbsp;
    <a href="/users/logout" class="btn btn-secondary" style="float: right;">Logout</a>
  </div>
  
  
  