
<div class="container-fluid d-flex flex-column p-4 m-4">
    <div class="card p-4 m-5" style="width: auto;">
        <div class="card-body">
          <h3 class="card-title">State of the Unions</h3>
          <p class="card-text" style="font-size: 20px;">Click button to view registration details</p>
          <form method="GET" action="/data/CERegCount">
            <button class = 'btn btn-primary' type="submit" disabled>View Event Stats </button>    
        </form>
        </div>
      </div>
      <div class="card p-4 m-5" style="width: auto;">
         <div class="card-body">
          <h3 class="card-title">Creative Expression</h3>
          <p class="card-text" style="font-size: 20px;">Click button to view registration details</p>
          <form method="GET" action="/CERegCount">
            <button class = 'btn btn-primary' action='/CERegCount' type="submit">View Event Stats </button>    
        </form>
        </div>
      </div>
      <div class="card p-4 m-5" style="width: auto;">
         <div class="card-body">
          <h3 class="card-title">Parawrite</h3>
          <p class="card-text" style="font-size: 20px;">Click button to view registration details</p>
          <form method="GET" action="/CERegCount">
            <button class = 'btn btn-primary' action='/CERegCount' type="submit" disabled>View Event Stats </button>    
        </form>
        </div>
      </div>
</div>