<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>THEPC - Creative Expression</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/e57fcbd46d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169020736-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-169020736-1');
  </script>

  <style>
    h5 .Cont{
      text-emphasis: none;
      font-weight: 400;
    }
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    overflow-x: hidden;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1487281438332-b1dc4af0c5ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=80");
    color: #fff;
    padding: 100px 0px;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    min-width: 100vw;
    width: min-content;
  }
  .hero-text{
    font-weight:900;
    font-size: 6em;
    margin: 2em auto;
    letter-spacing: 4px;
  }

  .reg-btn{
    background-color: transparent;
    border:1px solid white;
    font-size: 1.3rem;
    visibility: hidden;
    margin:2rem auto;
  }

  .hero-post{
    font-size: 2.6em;
    font-weight: 700;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .indent-1{
    margin-left: 6%;
  }
  .indent-2{
    margin-left: 8%;
  }
  .indent-list-2{
    margin-left: 2%;
  }
  .sub-head{
    font-size: 1.6em;
    font-weight: 800;
    color: #2c2c2c;
  }
  .wel-fol{
    color: #2c2c2c;
    font-size: 1.4em;
    font-weight: 400;
  }
  .emphasis{
    color: #087E8B;
    position: inline;
  }
  .dash-list{
    color: #2c2c2c !important;
    font-weight: 400;
    font-size: 1.6em;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #2c2c2c;
    font-size: 50px;
  }
  .logo {
    color: #2c2c2c;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #2c2c2c;
  }
  .carousel-indicators li {
    border-color: #2c2c2c;
  }
  .carousel-indicators li.active {
    background-color: #2c2c2c;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #2c2c2c; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #2c2c2c;
    background-color: #fff !important;
    color: #2c2c2c;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #2c2c2c !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #2c2c2c;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #2c2c2c;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2c2c2c !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2c2c2c;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .fa-bars{
    color: #f6f6f6;
  }
  input[type='file']{
    border: 0;
  }
  textarea{
    border-top: 1px !important;
  }
  .tech{
    position: fixed;
    right: 0;
  }
  .form-control {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none !important;
  }
  .form-control:focus{
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  footer{
    background-color: #333;
  overflow: hidden;
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
  }
  .dash{
    color: #087E8B;
    font-weight: bolder;
    font-size: 2.8em;
  }
  .user{
    color: #2c2c2c;
    font-size: 3.4em;
  }
  .intro-card{
    background-color: hsl(0, 0%, 27%);
    color: white !important;
    box-shadow: 0 4px 8px 0 grey;
    padding: 20px 40px;
    width: fit-content;
    margin-bottom: 8%;
  }
  .intro-card h2, h4{
    color: white;
  }
  .contact-cards{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .dash-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .subs-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .content{
    margin: 4% 10% 4% 10%;
  }
  .posters-master{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .posters{
    margin-left: 14%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .posters-single{
    margin-left: 34%;
    margin-right: auto;
    width: 50% !important;
  }
  .posters-single img,.posters img{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    width: 60%;
    height: auto;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @media screen and (min-width: 1024px) {
    .hide-lg{
      display: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .dash{
      font-size: 2.2em,
    }
    .sub-head{
      font-size: 1.4em;
    }
    .sub-head-2{
      font-size: 1.2em;
    }
    .reg-btn{
      visibility:visible;
    }
    .hero-text{
      font-size: 2em;
      margin: 7rem auto 6rem;
    }
    .dash-buttons{
      flex-direction: column;
    }
    .hero-post{
      font-size: 1em;
      margin: auto;
    }
    .logo {
      display: inline-block;
      font-size: 150px;
    }
    .hide-sm{
      display: none;
    }
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {

    .posters-single{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    }
    .posters-single img{
      width: 160% !important;
    }
    
    .posters-master{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .posters{
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .posters-single img,.posters img{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    width: 90% ;
    margin-top: 4%;
    height: auto;
  }

    .logo {
      font-size: 150px;
    }
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <div><%- body%></div>

  <footer class='navbar navbar-expand-sm bg-grey navbar-grey hide-sm'>
    <strong>&copy; The Hindu Education Plus Club 2012-2020. All Rights Reserved.
    </strong>
    <!-- <strong class='tech'>For any technical difficulties, contact : tech@thepcvit.com.</strong> -->
  </footer>
  <footer class='navbar navbar-expand-sm bg-grey navbar-grey hide-lg'>
    <strong>&copy; The Hindu Education Plus Club 2012-2020. All Rights Reserved.
    </strong>
    <!-- <strong class='tech'>For any technical difficulties, contact : tech@thepcvit.com.</strong> -->
  </footer>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
