<%- include('./partials/auth-menu') %>
  
  <div id="dashboard" class="container-fluid ml-auto">
  <h1 class='user mt-4'><i class='fas fa-user'></i> Welcome <strong><%= user.name %></strong></h1>
  <h1 class='wel-fol mt-4'>Your registered email is <span class='emphasis'><%= user.email%></span>.</h1>
    <h1 class="mt-4 dash">Topics List</h1>
  <ol class='dash-list indent-1'>
      <li class='sub-head-2'>It has been far more evident in recent times that it is extremely easy for governments to withhold information regarding public expenditure, even publicly collected funds, especially in the context of a pandemic. Considering that transparency and the right to uncensored information is fundamental to the security of a democracy, write about the lack of access to information and its consequences.</li>
      <li class='sub-head-2'>Reclaiming Fourth Estate, reclaiming journalism as an honorable profession, a nightly newcast that informs a debate worthy of a great nation, civility, respect, and a return to what's important.</li>
  </ol>
  </div>

  
  
  
  