<%- include('./partials/auth-menu') %>
  
  <div id="dashboard" class="container-fluid ml-auto">
  <h1 class='user mt-4'><i class='fas fa-user'></i> Welcome <strong><%= user.name %></strong></h1>
  <h1 class='wel-fol mt-4'>Your registered email is <span class='emphasis'><%= user.email%></span>.</h1>
  <h1 class="mt-4 dash">Problem Statements</h1>
    <div class="alert alert-warning"><h3><i class='fas fa-exclamation-triangle'></i> Problem Statements will be released on 21st June.</h3></div>
    <h1 class="mt-4 dash">Unions List</h1>
  <ol class='dash-list indent-1'>
      <li class='sub-head-2'>National Parent Teacher Association</li>
      <!-- <ul class="indent-list-2">
          <li>As the director of the National PTA, you have convened an emergency meeting with the board of directors of your body to resolve the rising conflicts between parents, teachers, and the school management across the whole country and to keep all the stakeholders updated of their respective fronts.</li>
          <li>In the view of the pandemic, where no regulations are completely suitable, you do not have enough resources and power to solve the problems. </li>
          <li>You are here to get government assistance on issues like reopening of schools, employee salaries, fee reduction requests, and other such issues. </li>
          <li>Present your stance covering all such issues in detail.</li>
      </ul> -->
      <li class='sub-head-2'>All India Organization of Employers</li>
      <!-- <p>As the presiding chairperson of the All India Organization of Employers, you have the following challenges before you:</p>
      <ul class="indent-list-2">
          <li>The government has made it mandatory for organizations to keep their workforce intact. Subsequently, employers cannot terminate their employees without any legitimate reason. However, in the wake of the Coronavirus pandemic, employers have decided to layoff some people anyway to salvage the losses faced in the last financial quarter. </li>
          <li>You seek government intervention for ensuring workplace safety and controlling the mass hysteria surrounding the pandemic which is preventing people from coming to offices.</li>
          <li>The Uttar Pradesh wing of the organization has cited concerns regarding the decision of the UP government of inviting companies in China to shift their bases to India.</li>
          <li>Present your case in front of the government.</li>
      </ul> -->
      <li class='sub-head-2'>Bhartiya Mazdoor Sangh</li>
      <!-- <ul class="indent-list-2">
          <li>Finance Minister Nirmala Sitharaman recently unveiled the Rs. 20 Lakh crores package and announced the privatization of public sector enterprises in the key sectors.</li>
          <li>You are the speaker of BHARTIYA MAZDOOR SANGH, a national trade union affiliated to RSS. BJP spokesperson in your area is rooted in RSS and is pressurizing you to take a stance.  </li>
          <li>A group in the Union believes that privatization would mean massive job loss and exploitation of workers. </li>
          <li>The daily wage labourers are concerned about their safety from the virus, jobs, inflation, and a stable source of income.</li>
          <li>The MGNREGA jobs provided to the migrant workers cannot really ensure the sustenance of their families in practicality. Your Union members are demanding an increase in the minimum wages.</li>
          <li>Present your case in front of the government.</li>
      </ul> -->
      <li class='sub-head-2'>National Healthcare Workers’ Union</li>
      <!-- <p>You are the President of the National Healthcare Workers' Union. The union members are concerned about their own health due to the unavailability of personal protection equipment during these adverse times.</p>
      <ul class="indent-list-2">
          <li> There have been significant wage cuts in many hospitals.</li>
          <li> Violent attacks on doctors in hospitals are also on the rise. In such a crucial period where doctors are the only ones with the knowledge and practice to save the world, you feel it's outrageous for then to be treated the way they are. </li>
          <li>The union members demand an Act to be passed which protects them and also offers full compensation to any mishap.</li>
          <li> Draft a speech to address the union on how to proceed with the protests and make sure the government addresses all your demands.</li>
          <li> A budget draft which the government could follow to implement these demands is highly appreciated.</li>
      </ul> -->
      <li class='sub-head-2'>National Students' Union of India</li>
      <!-- <p>You are the president of the National Students' Union of India. In the hypothetical situation where certain parts of the country are still in lockdown because of an increased need for isolation, the rest of the country opens for business. Most of the Educational Institutes are reopening. Moreover, Educational Institutes are rescheduling their entrance exams.You are supposed to address the following problems and feasible solutions in your speech:</p>
      <ul class="indent-list-2">
          <li>Students are travelling from isolated areas to open areas to attend their educational institutes.</li>
          <li>Students not being able to give entrance exams, which are once in a lifetime exams.</li>
          <li>Extreme pressure and mental trauma the students have faced due to the situation they find themselves in.</li>
          <li>Present your stance covering all such issues in detail.</li>
      </ul> -->

  </ol>
  </div>

  
  
  
  