<%- include('./partials/auth-menu') %>
  
  <div id="dashboard" class="container-fluid ml-auto">
  <h1 class='user mt-4'><i class='fas fa-user'></i> Welcome <strong><%= user.name %></strong></h1>
  <h1 class='wel-fol mt-4'>Your registered email is <span class='emphasis'><%= user.email%></span>.</h1>
  <h1 class="mt-4 dash">Rules and Conditions</h1>
  <ol class='dash-list indent-1'>
      <li>Participants are free to choose any union of their liking.</li>
      <li>Word limit: Minimum: <strong>750 words</strong>, Maximum: <strong>1200 words</strong>.</li>
      <div class="alert alert-danger"><i class='fas fa-exclamation-circle'></i> Marks will be deducted for not sticking to the word limit.</div>
      <li>Negative marks will be given for plagiarised content.</li>
      <div class="alert alert-danger"><i class='fas fa-exclamation-circle'></i> Entires with greater than 30% plagiarised content will be disqualified.</div>
      <li>Stipulated time - 4 days. Submit your speech by 24th June. For final process of selection.</li>
  </ol>
  <h1 class="mt-4 dash">Evaluation Criteria</h1>
  <div class="sub-head indent-1"> Following is the evaluation criteria to test the leadership skills of the contestant:</div>
    <ul class='dash-list indent-2'>
        <li>The contestant should clearly specify the objective of their protest and how the government can meet their demands. It should also contain the next course of action for all possible responses from the government. </li>
    </ul>
    <div class="sub-head indent-1">Well Researched</div>
      <ul class="dash-list indent-2">
        <li>The submitted draft should contain the details of the law that is currently present and also what the Union leader wants.</li>
        <li>The union leader can include previous historical occurrences of similar protests in his/her speech.</li>
        <li>If needed, the contestant may also present budgets or plans on similar lines as that of the problem set. </li>
        <li>The union leader can include details of independent surveys or opinion polls related to his/her topic.</li>
        <li>Scientific or statistical reporting has to be accurate and supported by sources/footnotes.</li>
        <li>The submission has to cover relevant historical, economic, social, and/or political implications and possible consequences.</li>
        <li>It has to make a link to the bigger global picture.</li>
        <li>The solution presented has to be thoroughly explained, well-argued, and justified.</li>
        <li>The use of illustrations, pictures, supporting paragraphs, subtitles, etc., in the draft has to be thought through.</li>
      </ul>
    
    <div class="text-uppercase text-center"><h1 class='mt-4 dash'>NOW SELECT A SET AND GET STARTED!</h1></div><br />

    <div class="dash-buttons">
      <div class="text-left">   <a href='/problem-statements' class='btn btn-lg btn-dark'>Check the Unions and Problem Statements here.</a></div>
    <div class='text-center'><a href='/dashboard' class='btn btn-lg btn-outline-dark'><strong>Upload Here</strong></a></div>
    </div>
  </div>

  
  
  
  