<%- include('./partials/auth-menu') %>
  
  <div id="dashboard" class="container-fluid ml-auto">
  <h1 class='user mt-4'><i class='fas fa-user'></i> Welcome <strong><%= user.name %></strong></h1>
  <h1 class='wel-fol mt-4'>Your registered email is <span class='emphasis'><%= user.email%></span>.</h1>
  <h1 class="mt-4 dash">Rules and Conditions</h1>
  <ol class='dash-list indent-1'>
      <li>Choose a union out of available options follow the instructions provided in the problem statement.</li>
      <li>Submitting a formal draft of the amendments needed is <strong>required</strong>. It may also contain a "suggested" budget.</li>
      <li>Random 3</li>
  </ol>
  <h1 class="mt-4 dash">Evaluation Criteria</h1>
  <div class="sub-head indent-1">Criterion 1</div>
    <ol class='dash-list indent-2'>
        <li>Random 1</li>
        <li>Random 2</li>
        <li>Random 3</li>
    </ol>
  <div class="sub-head indent-1">Criterion 1</div>
    <ol class='dash-list indent-2'>
        <li>Random 1</li>
        <li>Random 2</li>
        <li>Random 3</li>
    </ol>
    <a href='/dashboard' class='btn btn-dark'>Upload Here</a>
  </div>

  
  
  
  