<div class="ui main text container">
    <div class="ui huge header"><em>R.G. @ </em>Blogs</div>
    <div class="ui top  attached segment">
        <div class="ui divided items">
            <%= articles %>
        </div>
    </div>
</div>