<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="container">
    
    <a class="navbar-brand js-scroll-trigger" target='_blank' href="https://www.thepcvit.com">THEPC</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>State of the Unions</h1> 
  <p>Join the epic battle against the government</p>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row d-flex ml-auto justify-content-around">
    <div class="col-sm-8">
      <h2>The competition</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><a target = '_blank' href = '/users/register'><button class="btn btn-dark btn-lg">Register</button></a>
    </div>
    <div class="col-sm-1 d-flex  ">
      <div class='ml-auto'><i class="fas fa-balance-scale-right logo"></i></div>
    </div>
  </div>
</div>
</div>
