<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="container">
    
    <a class="navbar-brand js-scroll-trigger" target='_blank' href="https://www.thepcvit.com">THEPC</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger p-3" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger p-3" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger p-3" href="/users/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="intro-heading text-uppercase hero-text">State Of Unions</h1>
    <p class='hero-post'>Leaders aren't born they're made.</p>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row d-flex ml-auto justify-content-around">
    <div class="col-sm-8 intro-card">
      <h2>The competition</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><a target = '_blank' href = '/users/register'><button class="btn btn-dark btn-lg">Register</button></a>
    </div>
    <div class="col-sm-4 hide-lg ">
      <div class='ml-auto'><i class="fas fa-balance-scale-right logo"></i></div>
    </div>
    <!-- <div class="col-sm-2">
      <div class='ml-auto'><i class="fas fa-balance-scale-right logo"></i></div>
    </div> -->
    <!-- <div class="contact-cards">
      <div class="intro-card">
        <h4>Email</h4>
        <h6>tech@thepcvit.com</h6>
      </div>
      <div class="intro-card">
        <h4>Email</h4>
        <h6>tech@thepcvit.com</h6>
      </div>
      <div class="intro-card">
        <h4>Email</h4>
        <h6>tech@thepcvit.com</h6>
      </div>
    </div> -->
  </div>
</div>
</div>
