<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="container">
    
    <a class="navbar-brand js-scroll-trigger" target='_blank' href="https://www.thepcvit.com">THEPC</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger p-3" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger p-3" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger p-3" href="/users/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container trial">
    <h1 class="intro-heading text-uppercase hero-text">Creative Expression</h1>
    <p class='hero-post'>This is default caption</p>
    <a href="/users/register" class="btn reg-btn main-btn btn-primary">REGISTER</a>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row d-flex ml-auto justify-content-around">
    <div class="col-sm-12 intro-card">
      <h2>The competition</h2><br>
      <h4>The State of the Union, to put in simple terms is an annual address made by the President of the United States at the beginning of every calendar year to the United States Congress as an audience. 
        The speech contains information ranging from statistics of previous years to planned legislative reforms, expected economic shifts, and foreign policy changes.</h4><br>
      <h4>Think you've got what it takes? Of course, this is no address made by the POTUS, but various administrative unions and assemblies under the purview of the Indian Government. You've all chosen your respective departments and have been informed on the problem statement of the same.<br />
        <h4>Your speech must consist of what you're tasked to do and all that it entails, leaving no room for discrepancies or loopholes. A written round followed by a visual round, this is guaranteed to be a fun and educational experience.<br />        
        Fire up those neurons and bring out the diplomat in you!</h4><br />
        <strong><h3 class='text-center'>Buckle up for something much more than a speech competition</h3></strong>
      <br><a target = '_blank' href = '/users/register'><button class="btn btn-light btn-lg">Register</button></a>
    </div>

    <!-- <h1 class='bg-light mt-4 dash p-5'>Problem Statements</h1> -->

    <!-- <div class="posters-master">
      <div class="posters">
        <div class="introcard">
          <img src='/images/1.jpeg' />
        </div>
        <div class="introcard">
          <img src='/images/2.jpeg' />
        </div>
      </div>
      <div class="posters">
        <div class="introcard">
          <img src='/images/3.jpeg' />
        </div>
        <div class="introcard">
          <img src='/images/4.jpeg' />
        </div>
      </div><br /><br />
      <div class="posters-single">
        <div class="introcard">
          <img src='/images/5.jpeg' />
        </div>
      </div>
    </div>
    <div class="col-sm-4 hide-lg ">
      <div class='ml-auto'><i class="fas fa-balance-scale-right logo"></i></div>
    </div> -->

    <br />
       
    <!-- <div class="col-sm-2">
      <div class='ml-auto'><i class="fas fa-balance-scale-right logo"></i></div>
    </div> -->
    <!-- <div class="contact-cards">
      <div class="intro-card">
        <h4>Email</h4>
        <h6>tech@thepcvit.com</h6>
      </div>
      <div class="intro-card">
        <h4>Email</h4>
        <h6>tech@thepcvit.com</h6>
      </div>
      <div class="intro-card">
        <h4>Email</h4>
        <h6>tech@thepcvit.com</h6>
      </div>
    </div> -->
  </div>
  
  <div class="text-center">
    <h5 class='sub-head bg-light p-3'>In case of any technical problems, contact us at <span class='emphasis'>tech@thepcvit.com</span>.</h5>
  </div>
</div>
</div>
